<launch>

  <node pkg="joy" type="joy_node" name="joystick_node" respawn="true">
    <param name="dev" value="/dev/input/js0" />
    <remap from="joy" to="joystick_topic"/>
  </node>

  <node pkg="joy" type="joy_node" name="thruster_node" respawn="true">
    <param name="dev" value="/dev/input/js1" />
    <remap from="joy" to="thruster_topic"/>
  </node>

  <node pkg="ROV_system_v1" type="joystick_processing_node" name="joystick_processing_node" respawn="true">
  </node>

  <node pkg="ROV_system_v1" type="thruster_processing_node" name="thruster_processing_node" respawn="true">
  </node>

</launch>
